<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->

<configuration>

  <connectionStrings>
    <add name="userConnectionString" connectionString="Data Source=250826a1.nat123.cc:48732;Initial Catalog=demo;Persist Security Info=True;User ID=root;Password=970527j"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
